.footerMainDiv {
  position: relative;
  background: linear-gradient(#011021, #011021),
    url("../media/FooterBackground.png");
  width: 100%;
  /* margin-top: 8%; */
  display: flex;
  justify-content: center;
  height: 160px;
}
.footerDisplay1366Div {
  width: 1366px;
  box-sizing: border-box;
  padding: 0 8%;
  margin: 40px 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
/*---------Footer Intro Div---------*/
.footerIntroDiv {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 25%;
}
.footerIntroLogo {
  width: 180px;
}
.footerIntroBody {
  color: #a9b2bc;
  font-size: 12px;
  margin-top: 3%;
  white-space: pre-line;
}
/*---------Footer Links Div---------*/
.footerLinksDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footerLinksSocialDiv {
  width: 110px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footerLinksSocialDiv img {
  width: 30px;
  cursor: pointer;
}
.footerLinksCompanyDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 8%;
}
.footerLinkCompany {
  color: #a9b2bc;
  font-size: 12px;
  margin-top: 3%;
  cursor: pointer;
}
.footerLinkCompany:hover {
  color: #e2e8f0;
}
/*---------Footer Contact Div---------*/
.footerContactDiv {
  display: flex;
  flex-direction: column;
  width: 25%;
}
.footerContactTitle {
  color: white;
  font-weight: bold;
}
.footerContactContent {
  display: flex;
  flex-direction: column;
  margin-top: 5%;
  color: #a9b2bc;
  font-size: 12px;
}
.footerContactContent span {
  margin-top: 2%;
}
@media screen and (max-width: 1920px)
{
  .footerDisplay1366Div{
    width: 1900px;
  }
}
@media screen and (max-width: 1792px)
{
  .footerDisplay1366Div{
    width: 1700px;
  }
}
@media screen and (max-width: 1680px)
{
  .footerDisplay1366Div{
    width: 1660px;
  }
}
@media screen and (max-width: 1440px)
{
  .footerDisplay1366Div{
    width: 1420px;
  }
}
@media screen and (max-width: 1366px){
  .footerDisplay1366Div{
    width: 1300px;
  }
}
@media screen and (max-width: 1080px){
  .footerDisplay1366Div{
    width: 1070px;
  }
}