/* --------------- Intro Div --------------- */

.LBIntroDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 96px;
}

.LBIntroText {
  font-size: 72px;
  color: #18191f;
  text-align: center;
  font-weight: bold;
  width: 1040px;
  margin-bottom: 55px;
}

.LBIntroButton {
  margin-bottom: 60px;
}

.LBIntroButton a {
  text-decoration: none;
  color: black;
  border-radius: 8px;
  border-color: transparent;
  background: linear-gradient(to right, #8c30f5, #8c30f5);
  color: white;
  font-weight: bold;
  padding: 18px 40px;
  font-size: 20px;
}
.LBIntroButton a:hover {
  background: linear-gradient(to right, #9d50f5, #9d50f5);
}

.LBIntroImage img {
  height: 366px;
  transform: translateY(4px);
}

/* ---------------Banner Div --------------- */

.LBBannerDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to right, #8c30f5, #8c30f5);
  padding: 50px 0px;
}

.LBBannerTopDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.LBBannerTopH1 {
  font-size: 48px;
  color: white;
  font-weight: 600;
}

.LBBannerTopH2 {
  font-size: 24px;
  color: white;
  font-weight: 600;
  margin-top: 10px;
}

.LBBannerBottomDiv {
  text-align: center;
  width: 940px;
  color: white;
  font-size: 18px;
  margin-top: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.LBBannerBottomDiv img {
  height: 30px;
}

.LBLinkedinImg {
  height: 40px !important;
}

.LBIconDiv {
  border-radius: 8px;
  background: linear-gradient(to right, #ffffff, #ffffff);
  box-shadow: 0px 15px 15px 0px #18191f;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
}
/* ---------------Dashboard Div --------------- */

.LBDashboardDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 88px;
}

.LBDashboardTextDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 80%;
  justify-content: space-around;
  padding-bottom: 250px;
}

.LBDashboardTextH1 {
  width: 460px;
  font-size: 40px;
  color: #18191f;
  font-weight: bolder;
}

.LBDashboardTextB {
  width: 450px;
  font-size: 16px;
  color: #43444b;
  font-weight: 500;
}

.LBDashboardImgDiv {
  background: linear-gradient(to right, #f6efff, #f6efff);
  width: 100%;
  display: flex;
  justify-content: center;
  height: 350px;
}

.LBDashboardImgDiv img {
  height: 450px;
  transform: translateY(-160px);
}
/* --------------- Advantage div --------------- */
.LBadvantagediv {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #0b0d17;
  color: white;
  padding-top: 80px;
  /* padding-bottom: 80px; */
}

.LBImgDiv {
  /* background-color: #8c30f5; */
  margin-left: 25px;
  margin-top: 40px;
}

.LBAdvantageMainHeading {
  font-size: 40px;
  font-weight: 800;
  padding-bottom: 30px;
}
.LBAdvantages {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 80%;
  margin-top: 20px;
  justify-content: space-around;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 100px;
}
.LBAdvantageBox {
  background-color: white;
  color: black;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 10px;
}
.LBAdvantageHeading {
  font-size: 24px;
  font-weight: 600;
  padding-left: 25px;
  margin-top: 40px;
}
.LBAdvantagedesc {
  /* font-size: 14px; */
  font-weight: 400;
  width: 280px;
  padding: 0px 25px;
  margin-top: 20px;
  margin-bottom: 40px;
}

/* --------------- Categories div --------------- */

.LBcategorydiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 80px;
  padding-bottom: 80px;
  background: linear-gradient(to right, #f4f5f7, #f4f5f7);
}

.LBcategoryheading {
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 80px;
}

.LBCategoryrow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.LBCategorybox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.LBcategoryhead {
  font-size: 24px;
  font-weight: 600;
  margin-top: 20px;
  margin-bottom: 5px;
}

.LBcategorydesc {
  color: #18191f;
  width: 350px;
}

.LBcategoryimage {
  height: 320px;
  width: 480px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.LBStudentDiv {
  background: linear-gradient(to right, #a0dcff, #a0dcff);
}

.LBSkateGirlDiv {
  background: linear-gradient(to right, #fdd9d9, #fdd9d9);
}

.LBcategoryimage img {
  height: 340px;
}

.LBSkateGirlImg {
  height: 300px !important;
}

/* --------------- FAQ div --------------- */

.LBfaqbox {
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: 25%;
  margin-right: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10%;
  flex-direction: column;
}

.LBfaqheading {
  text-align: center;
  color: black;
  font-size: 100%;
  margin-top: 1%;
  margin-left: 12%;
  font-family: Inter;
  font-weight: 800;
  font-size: 40px;
  line-height: 54px;
}

.LBfaqquestionbox {
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  width: 100%;
  margin: 10px;
  margin-bottom: 20px;
}

.LBfaqquestion {
  margin: 20px;
  font-family: Inter;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}

.LBline {
  border-top: 1px solid #a8a8a8e8;
  width: auto;
  margin: 0 20px;
}

.LBfaqanswer {
  font-family: Inter;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  margin: 20px;
}

.LBfaq {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 200px;
}
