.OPMainDiv {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.OPOptions {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.OPOptions span {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  cursor: pointer;
  font-size: 24px;
  font-weight: 500;
  width: 300px;
  height: 280px;
}

.OPA {
  background-color: #f7cf86;
}

.OPB {
  background-color: #f397a5;
}

.OPC {
  background-color: #9fdce6;
}

.OPD {
  background-color: #9fb9df;
}

.OPOptions input {
  outline: inherit;
  cursor: pointer;
}

.OPButtonDiv {
  display: flex;
  justify-content: flex-end;
  margin: 15px;
}

.OPNextButton {
  color: black;
  border-radius: 8px;
  border-color: transparent;
  background: linear-gradient(to right, #8c30f5, #8c30f5);
  color: white;
  font-weight: 600;
  font-size: 14px;
  padding: 12px 32px;
  cursor: pointer;
}

.OPNextButton:hover {
  background: linear-gradient(to right, #9d50f5, #9d50f5);
}
