.OPMainDiv {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.OPOptions {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.OPOptions span {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  cursor: pointer;
  font-size: 24px;
  font-weight: 500;
  width: 300px;
  height: 280px;
}

.OPA {
  background-color: #e2ab48;
}

.OPB {
  background-color: #c55c6c;
}

.OPC {
  background-color: #509aa5;
}

.OPD {
  background-color: #406ca9;
}

.OPOptions input {
  outline: inherit;
  cursor: pointer;
}

.OPButtonDiv {
  display: flex;
  justify-content: flex-end;
  margin: 15px;
}

.OPNextButton {
  color: black;
  border-radius: 8px;
  border-color: transparent;
  background: linear-gradient(to right, #8c30f5, #8c30f5);
  color: white;
  font-weight: 600;
  font-size: 14px;
  padding: 12px 32px;
  cursor: pointer;
}

.OPNextButton:hover {
  background: linear-gradient(to right, #9d50f5, #9d50f5);
}

@media screen and (max-width: 1336px) {
  .OPOptions span {
    width: 280px;
    height: 260px;
  }
  
}

@media screen and (max-width: 1236px) {
  .OPOptions span {
    width: 260px;
    height: 240px;
  }
  
}

@media screen and (max-width: 1136px) {
  .OPOptions span {
    width: 240px;
    height: 220px;
  }
  
}
