.SGMainDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #eee1ee;
  width: 100%;
  height: calc(100vh - 74.5px);
}

.SGInnerDiv {
  background-color: #411d40;
  flex-direction: column;
  display: flex;
  gap: 50px;
  border-radius: 8px;
  margin: 1%;
  width: 98%;
  margin: 5px;
}

