.SPBodyDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: calc(100vh - 66px - 160px + 75px);
}

.SPBodyDiv img {
  height: 350px;
}

@media screen and (max-width: 1440px) {
  .SPBodyDiv img {
    height: 300px;
  }
}

@media screen and (max-width: 1366px) {
  .SPBodyDiv {
    /* height: min-content; */
    margin-top: 25px;
    margin-bottom: 25px;
  }
}
