.rsNavBar{
    display: flex;
    flex-direction: row;
    box-shadow: 0 4px 6px -5px rgb(50 50 93 / 25%),
    0 4px 3px -5px rgb(0 0 0 / 30%);
    justify-content: space-between;
    align-items: center;
}
.rsLogo{
    margin-left: 20px;
}
.rsLogo img{
    width: 80%;
}
.rsLogout {
    margin-right: 20px;
}
.rsLogout a{
    text-decoration: none;
  color: black;
  border-radius: 5px;
  border-color: transparent;
  background: black;
  color: white;
  font-weight: bold;
  padding: 9px 20px;
  font-size: 16px;
}
.rsMaindiv{
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.rscongodiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.rscongoh{
    margin-top: 20px;
}
.rscongoh span{
    font-size: 25px;
    font-weight: bold;
}
.rscongotext{
    margin-top: 17px;
    width: 290px;
    text-align: center;
}
.rscongotext span{
    font-size: 20px;
}
.rsscorediv{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.rsscoreh span{
    font-size: 38px;
    font-weight: bold;
}
.rsscoreh{
    margin-bottom: 10;
}
.rsscorerow{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.rsscoregraph{
    width: 500px;
    height: 265px;
    background-color: #0058FF;
    display: flex;
    align-items: center;
    justify-content: center;
   
}
.rsscoregraph span{

    font-size: 38px;
    color: white;
}
.rsdividerline{
    border-left: 1px solid black;
    height: 100px;
    width: 0%;
    margin-left: 100px;
    margin-right: 100px;
}
.rscertificatepreview img{
    height: 380;
    width: 540px;
}
.rssharerow{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
}
.rssharebutton{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #0058FF;
    margin-right: 150px;
    border-radius: 5px;
    cursor: pointer;
}
.rssharebutton span{
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding: 5px;
}
.rssharebutton img{
    padding: 5px;
}
.rspopupdiv{
    display: none;
    position: absolute;
    background: rgba(255, 255, 255, .8);
    width: 80%;
   align-items: center;
   flex-direction: column;
   justify-content: center;
   border: 2px solid black;
   border-radius: 10px;
   padding-left: 100px;
}
.rsshareh{
    font-size: 38px;
    font-weight: bold;
}
.rssharetext
{
    padding: 20px;
    padding-left: 100px;
    padding-right: 350px;
    font-size: 20;
    font-weight: 500;
    margin-bottom: 50px;
}
.rssharerowicon{
    padding-left: 100px;
    padding-right: 350px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.rsclose{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-end;
    transform: translate(25px,-25px);
    cursor: pointer;
}
.rspopupmaindiv{
    /* display: flex;
    flex-direction: column; */
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-left: 100px;
}
.rshideimage{
    display: none;
}