.SPOuterDiv {
  display: block;
  position: fixed;
  top: 0;
  left: 25%;
  width: 500px;
  height: 700px;
  overflow: auto;
  transition: all 0.3s linear;
  display: flex;
  align-items: center;
  justify-content: center;
}

.SPMainDiv {
  background-color: white;
  box-shadow: rgba(48, 27, 27, 0.35) 0px 5px 15px;
}

.SPCertificateDiv img{
  align-items: center;
  width: 300px;
  height: 200px;
}